<?xml version="1.0"?>

<launch>
  <arg name="robot_name"    default="alpha"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find elevator_navigation_executor)/param/localization_params.yaml" command="load"/>
    <rosparam file="$(find elevator_navigation_executor)/param/localization_params_$(arg robot_name).yaml" command="load"/>
  </node>
</launch>
