<?xml version="1.0"?>

<launch>
	<include file="$(find elevator_recognition)/launch/elevator_recognition.launch" />
	<include file="$(find elevator_navigation_executor)/launch/nav_elevator_map.launch" />
	<node name="test" pkg="elevator_waypoints_nav" type="push_bottun" output="screen" />
	<node name="push_bottun_server" pkg="elevator_waypoints_nav" type="push_bottun" output="screen" />
	<node name="neck_motion_server" pkg="elevator_waypoints_nav" type="neck_server.py" output="screen" />
	<!--node name="elevator_wp_nav" pkg="elevator_waypoints_nav" type="waypoints_nav" output="screen" /-->
</launch>

